
/* MAIN MOBILE STYLES */

/* Body */ 
@media only screen and (max-width: 949px) 
{
body {
    background: url("imgs/backgrounds/homePageBg.png") repeat center top fixed;
    background-size: 953px 510px;
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#desktopHP {
    display: none;
}


/* Navbar */
header {
    width: 100vw;
    font-family: inter, Arial, Helvetica, sans-serif;
}

.borderImg {
    border: 10px solid transparent;
    padding: 10px;
    border-image: url(/imgs/details/gradientBar1.png) 10 round;
}

#navLogo {
    width: 10em;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 1999;
}

nav {
    width: 100vw;
}

.navIcons {
    padding-right: 10px;
}


/* Slogan */
.sloganContainer {
    position: relative;
    text-align: center;
    background: url("imgs/backgrounds/sloganBg.png");
    padding: 25px;
    margin-bottom: 35px;
    margin-top: 110px;
}

#sloganText {
    font-family: 'Bevan';
    font-size: 3.5em;
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 100px 80px rgba(209, 137, 228, 0.0383329), 
    0px 53.1039px 33.4221px rgba(209, 137, 228, 0.0784649), 
    0px 40.9008px 17.869px rgba(209, 137, 228, 0.127419), 
    0px 32.2197px 10.0172px rgba(209, 137, 228, 0.199177), 
    0px 22.9769px 5.32008px rgba(209, 137, 228, 0.321955), 
    0px 12.2919px 2.21381px rgba(209, 137, 228, 0.55);
}


/* Feature */ 
.featureContainer {
    position: relative;
    text-align: center;
    background: url("imgs/backgrounds/sloganBg.png");
    padding: 25px;
    margin-bottom: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#featureText {
    font-family: 'Bevan';
    font-size: 2em;
    text-decoration: none;
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #292b2c;
    border: 10px solid transparent;
    padding: 10px;
    border-image: url(/imgs/details/gradientBar1.png) 10 round;
}


/* Products */
/* Product Container */
.products {
    margin-bottom: 100px;
    max-width: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.productContainer {
    position: relative;
    text-align: center;
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.productSpace {
    margin-top: 50px;
    width: 100vw;
}

.productLink {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Domestic */
#domesticText {
    font-family: 'Bevan';
    font-size: 2em;
    font-style: italic;
    color: #FFFFFF;
    transform: translate(0px, -100px);
    text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.29), 
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.314091), 
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.535849), 
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.341926), 
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.509452), 
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.9557196);
}

#hpDomestic {
    max-width: 300px;
    max-height: 460px;
}

/* Cocktails */
#cocktailsText {
    font-family: 'Bevan';
    font-size: 2em;
    font-style: italic;
    color: #FFFFFF;
    overflow-x: visible;
    text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.29), 
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.314091), 
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.535849), 
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.341926), 
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.509452), 
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.9557196);
}

/* Imported */
#importsText {
    font-family: 'Bevan';
    font-size: 2em;
    font-style: italic;
    color: #FFFFFF;
    transform: translate(-10px, -20px);
    text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.29), 
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.314091), 
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.535849), 
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.341926), 
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.509452), 
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.9557196);
}

/* Cocktails */
#shakesText {
    font-family: 'Bevan';
    font-size: 2rem;
    font-style: italic;
    color: #FFFFFF;
    transform: translate(0px, -60px);
    text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.29), 
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.314091), 
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.535849), 
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.341926), 
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.509452), 
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.9557196);
}

#hpShake {
    max-width: 100vw;
}


/* Footer */
footer { 
    display: flex; 
    flex-flow: column nowrap;
}

.nav-flex-footer {
    display: flex; 
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
}

#trademark {
    width: 13em;
    padding: 10px 0px 10px 10px;
}

.footerIcons {
    padding: 10px 0px 0px 10px;
}

.spacerIcon {
    padding-right: 52px;
}

}
